{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TEMPERATURA NO SUDESTE</title>

  <!-- CSS -->
  <link href="{%static 'bootstrap/style.css'%}" rel="stylesheet">
<!--<a class="nav-link" href="https://github.com/Lobistico/Clima_Sudeste">GITHUB-->

</head>
<body>
{%block conteudo%}
{%endblock%}
</body>
</html>